# Build
bin/
obj/
log/
logs/

# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# Logs
*.log

# React / Node
node_modules/
dist/
dist-ssr/
*.local


# Logs
npm-debug.log*
yarn-debug.log*

# Cache
.vite/
.eslintcache

# Variáveis de Ambiente
.env
.env.local
.env.production

# Configurações locais
appsettings.Development.json

# Sistema operacional
.DS_Store
Thumbs.db
Desktop.ini
